body {
	margin-top: 80px;
    position: relative;
}
.gf, .gf a, .gf strong, .gf em {
    color: #337ab7 !important;
}

header {
    border-radius: 8px;
}

header img {
    max-width: 80%;
    max-height: 80%;
}

footer.page-footer {
    border-top: 1px solid #dddddd;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collapse-top {
    margin-top: 0px;
}

.jumbotron {
    background-color: #d9edf7;
}